<div class="login-container">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
      />
    </div>
    <div>
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>
    <button type="submit">Login</button>
  </form>
  <app-modal></app-modal>
</div>
