<div class="container">
  <h1>Games</h1>
  <!-- Add New Game Section -->
  <div *ngIf="isPublisher()" class="add-game">
    <h3>Add New Game</h3>
    <div class="add-form">
      <input [(ngModel)]="newGame.title" placeholder="Title" />
      <input [(ngModel)]="newGame.description" placeholder="Description" />
      <button class="add-btn" (click)="onAddGame()">Add Game</button>
    </div>
  </div>

  <!-- Games List -->
  <div class="game" *ngFor="let game of games">
    <div class="game-details">
      <a class="game-info" [routerLink]="[game.id]">
        {{ game.title }}
      </a>
      <span>{{ game.description }}</span>

      <!-- Game Actions -->
      <div class="game-actions">
        <button class="edit-btn" *ngIf="isPublisher()" (click)="onEditGame(game.id!)">Edit</button>
        <button class="delete-btn" *ngIf="isPublisher()" (click)="onDeleteGame(game.id!)">Delete</button>
      </div>
    </div>

    <!-- Inline Edit Form -->
    <div class="edit-form" *ngIf="editingGameId === game.id">
      <input [(ngModel)]="game.title" placeholder="Title" />
      <input [(ngModel)]="game.description" placeholder="Description" />
      <button (click)="onSaveGame(game.id!)">Save</button>
      <button (click)="onCancelEditGame()">Cancel</button>
    </div>
  </div>
  <app-modal></app-modal>
</div>
